
#button:hover .icon-span{
    transition: transform 1s linear;
    transform-origin: left;
    transform: translateX(0);
}

#button:hover .text-span{
    transition: transform 1s linear;
    transform-origin: left;
    transform: translateX(100%);
}

.icon-span{
    transition: transform 1s ease;
}

.text-span{
    transition: transform 1s ease;
}

/* @keyframes icon-to-text-2{
    0%,100%{
        transform: translateX(100%);
    }
    25%{
        transform: translateX(75%);
    }
    50%{
        transform: translateX(50%);
    }
    75%{
        transform: translateX(25%);
    }
    100%{
        transform: translateX(0%);
    }
}



@keyframes icon-to-text{
    0%,100%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(25%);
    }
    50%{
        transform: translateX(50%);
    }
    75%{
        transform: translateX(75%);
    }
    100%{
        transform: translateX(100%);
    }
}

@keyframes text-to-icon{
    0%,100%{
        transform: translateX(-100%);
    }
    25%{
        transform: translateX(-75%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-25%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes text-to-icon-2{
    0%,100%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(-100%);
    }
} */
.bx-tada
{
    -webkit-animation: tada 1.5s ease infinite;
            animation: tada 1.5s ease infinite;
}

@-webkit-keyframes tada
{
    from
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }

    10%,
    20%
    {
        -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
                transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
                transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80%
    {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
                transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -10deg);
    }

    to
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}

@keyframes tada
{
    from
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }

    10%,
    20%
    {
        -webkit-transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
                transform: scale3d(.95, .95, .95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90%
    {
        -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
                transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80%
    {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
                transform: rotate3d(0, 0, 1, -10deg);
    }

    to
    {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
    }
}